
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
    background-color: #1f2937;
    color: white;
    width: 100%;
}

.hero-container {
    width: 80%;
    margin: 0 auto;
}

.top-hero {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 80px 0;
   
}

.logo {
    font-size: 20px;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 6px;
    width: 240px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 14px 0.5px #9ac0fd;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a:active {
    text-decoration: none;
    color: white;
}


ul {
    display: flex;
    justify-content: space-between;
    /* gap: 16%; */
}

li {
    list-style: none;
    padding: 0 10px 6px 10px;
    font-size: 20px;
    /* display: ; */
}

li:last-child {
    padding-right: 0;
}
    


.main-hero {
    display: flex;
    align-items: center;
    gap: 4%;
    padding-bottom: 80px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    /* gap: 9%; */
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text p {
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    background-color: #3882f6;
    border: none;
    color: white;
    width: 120px;
    padding: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.hero-img img {
    height: auto;
    width: 500px;
    opacity: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.card-section {
    margin-bottom: 120px;
    margin-top: 26px;
}

.card-section h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0 50px 0;
    color: #283648;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.cards img {
    width: 150px;

}

/* .card-1,
.card-2,
.card-3,
.card-4 {
    border: 1px solid rebeccapurple;
} */

.border-card {
    /*border: 1px solid rebeccapurple;
    */
    box-shadow: 0.5px 0.5px 24px 0.5px #9ac0fd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: none;
    position: relative;
    /* transition: top ease 0.5s; */
}

.cards p {
    width: 150px;
    padding: 8px;
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    color: gray;
}

.testimonial-section {
    background-color: #e5e7eb;
}

.testimonial-text {
    padding: 100px;
    width: 80%;
    margin: 0 auto;
}

.testimonial-text p {
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    color: #1f2937;
}

.testimonial-text p span {
    text-align: right;
    margin-left: 500px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
}

.call-to-action-section {
    padding: 60px;
}

.call-to-action {
    background-color: #3882f6;
    width: 76%;
    padding: 40px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.call-to-action h3 {
    font-size: 26px;
}

.call-to-action p {
    font-size: 18px;
}

.call-to-action h3, .call-to-action p, .call-to-action button {
    color: #fff;
}

.call-to-action button {
    font-size: 16px;
    font-weight: 500;
    background-color: #3882f6;
    border: 1px solid white;
    /*padding: 3px 20px;
    */width: 120px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 100px;
}

footer {
    background-color: #1f2937;
}

footer p {
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 18px;
}

/*
hover styles on buttons, links and images
*/

button:hover {
    background-color: #65a0ff;
    cursor: pointer;
}


.logo:hover {
    background-color: #3882f6;
    box-shadow: none;
    cursor: pointer;
}

li:hover {
    border-bottom: 1px solid #3882f6;
    cursor: pointer;
    box-shadow: 0 1px 2px -2px #9ac0fd;
}

.border-card:hover {
        top: -6px;
        cursor: pointer;
}