/*
Backgroung color for hero and foot sections
background-color: #1f2937;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: blueviolet; */
}

header {
    background-color: #1f2937;
    color: white;
}
